<h1>Latest, hot.. start from here</h1>
<br />
<% @newsresult.each do |n| %>
	<p>
		<%= n['ntext'] %>
		<br />
		user <%= n['username'] %> has added this at: <%= n['datetime'] %>
		<!-- страница с номером сообщения (id - обращение к таблице бд) -->
		<a href="/news#/<%= n['id'] %>">Comments</a>
	</p>
<%	end	%>